
.container {
    display: flex;
    justify-content: center; /* 左右中央 */
    align-items: center; /* 上下中央 */
    height: 100vh; /* 画面いっぱいに配置 */
}

.my-button {
    position: absolute;
    top: 50px;
    left: 100px;
}
